.topContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imageContainer{
    position: relative;
    height: 130px;
    width: 18rem;
    overflow: hidden;
    padding: 3px;
    z-index: 0;
}

.logoContainer{
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px #cccaca;
    margin-top: -31px;
    margin-right: 10px;
    z-index: 1000;
    margin-left: 11px;
}
.details{
    color:#a0a0a0;
}
.buttonOrange{
    color: #fff;
    background-color: #f16e00;
    border-color: #f16e00;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.625rem 1.125rem;
    font-size: 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.buttonOrange:hover, .buttonOrange:focus{
    color: #fff;

    border-color: #000;
}

.detailsForCollegeContainer{
display: flex;
flex-direction: row;
}

.detailsForCollegeChild{
}

.collegeNameNDetails{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 100%;
    color: #fff;
    line-height: 2.5;
    font-size: 12px;
    margin: 0;
    margin-top: -31px;
    margin-right: 10px;
    z-index: 1;
}

.locationNCredsContainer{
    display: flex;
    flex-direction: row;
    color:#a0a0a0;
    justify-content: space-between;
}

.imgOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}